
<div class="select">
  <h1>Select your plan</h1>
  <span>You have the option of monthly</span>
 <div class="arcade">
    <div class="icon">
      <img src="./assets/images/icon-arcade.svg" alt="icone joystick">
    </div>
    <div class="plan-tarif">
      <span class="title"><b>Arcade</b></span>
      <span>$9/mo</span>
    </div>
  </div>
 <div class="arcade">
  <div class="icon">
    <img src="./assets/images/icon-advanced.svg" alt="icone joypad">
  </div>
  <div class="plan-tarif">
    <span class="title"><b>Advanced</b></span>
    <span>$12/mo</span>
  </div>
  </div>
  <div class="arcade">
    <div class="icon">
      <img src="./assets/images/icon-pro.svg" alt="icone joypad2">
    </div>
    <div class="plan-tarif">
      <span class="title"><b>Pro</b></span>
      <span>$15/mo</span>
    </div>
    </div>

<div class="toggle">
  <span>Monthly</span>
  <div>toggle</div>
  <span>Yearly</span>
</div>
  </div>

