.select{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(252, 250, 246);
  position: fixed;
  top: 150px;
  margin:20px;
  padding:20px;
  width:calc(100% - 80px);
  height:60%;
  border-radius: 10px;
}
.arcade{
  background-color: rgb(238, 238, 238);
  align-items: center;
  border-radius: 7px;
  padding:10px;
  margin:10px;
  display: flex;
  justify-content: space-around;
}
.plan-tarif{
  display: flex;

  flex-direction: column;
  padding:10px;
  margin:10px;
}
